Title: Protein "requirements" beyond the RDA: implications for optimizing health.
Authors: Phillips SM
Year: 2016
Journal: Appl Physiol Nutr Metab
PMID: 26960445
DOI: 10.1139/apnm-2015-0550

ABSTRACT:
1. Appl Physiol Nutr Metab. 2016 May;41(5):565-72. doi: 10.1139/apnm-2015-0550. 
Epub 2016 Feb 9.

Protein "requirements" beyond the RDA: implications for optimizing health.

Phillips SM(1), Chevalier S(2)(3), Leidy HJ(4).

Author information:
(1)a Department of Kinesiology, Exercise Metabolism Research Group - Protein 
Metabolism Research Lab, McMaster University, 1280 Main Street W., Hamilton, ON 
L8S 4K1, Canada.
(2)b Department of Medicine, McGill University, Hamilton, ON L8S 4K1, Canada.
(3)c School of Dietetics and Human Nutrition, McGill University, McGill 
University Health Centre-Research Institute, Crabtree Nutrition Laboratories, 
1001, boul. Décarie, E02.7226 Montréal, QC H4A 3J1, Canada.
(4)d Department of Nutrition and Exercise Physiology, School of Medicine, 
University of Missouri, Columbia, MO 65203, USA.

Erratum in
    Appl Physiol Nutr Metab. 2022 May;47(5):615. doi: 10.1139/apnm-2022-0131.

Substantial evidence supports the increased consumption of high-quality protein 
to achieve optimal health outcomes. A growing body of research indicates that 
protein intakes well above the current Recommended Dietary Allowance help to 
promote healthy aging, appetite regulation, weight management, and goals aligned 
with athletic performance. Higher protein intakes may help prevent age-related 
sarcopenia, the loss of muscle mass, and strength that predisposes older adults 
to frailty, disability, and loss of autonomy. Higher protein diets also improve 
satiety and lead to greater reductions in body weight and fat mass compared with 
standard protein diets, and may therefore serve as a successful strategy to help 
prevent and/or treat obesity. Athletes can also benefit from higher protein 
intakes to maximize athletic performance given the critical role protein plays 
in stimulating muscle protein remodelling after exercise. Protein quality, per 
meal dose, and timing of ingestion are also important considerations. Despite 
persistent beliefs to the contrary, we can find no evidence-based link between 
higher protein diets and renal disease or adverse bone health. This brief 
synopsis highlights recent learnings based on presentations at the 2015 Canadian 
Nutrition Society conference, Advances in Protein Nutrition across the Lifespan. 
Current evidence indicates intakes in the range of at least 1.2 to 1.6 
g/(kg·day) of high-quality protein is a more ideal target for achieving optimal 
health outcomes in adults.

DOI: 10.1139/apnm-2015-0550
PMID: 26960445 [Indexed for MEDLINE]
